body {
    background: linear-gradient(to bottom, #273944, #222a2e);
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,
    "Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(46, 40, 40);
  }
  
  .navbar {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .navbar-right {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
  
  .navbar-right a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .navbar-right a:hover, .navbar-right a:active {
    color: #007BFF;
  }

.hero {
    background-image:  url('img/my-photo.jpg');
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 50px;
    height: 280px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: whitesmoke;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 1.5rem;
    color: white;
  }
  .know-me, .resume-head, .contact-head, .portfolio-head{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .know-me hr, .resume-head hr, .contact-head hr, .portfolio-head hr {
    border: none;
    border-top: 2px solid #0dc484;
    width: 15%;
  }
  .know-me span, .resume-head span, .contact-head span, .portfolio-head hr{
    display: block;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
  }
  .description {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .photo {
    flex: 1;
    max-width: 50%;
  }
  .photo img {
    border-radius: 10px;
  }
  .about-content {
    flex: 1;
    padding: 0 10px;
  }
  .about-content h2{
    color: #0dc484;;
    font-weight: normal;
  }
  .about-content h4{
    font-weight: normal;
    font-size: 18px;
  }
  .about-content p{
    color: rgb(170, 166, 166);
    font-size: 18px;
  }
  .about-content p span{
    color: #0dc484;
  }
  .about-content button {
    background-color: #0d5e42;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .about-content button:hover {
    background-color: #164e8a;
  }
  .services-title {
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 100px;
  }
  .services-divisions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 30px 100px;
    color: white;
  }
  .item {
    padding: 10px;
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #247ad6;
  }
  
  .item p {
    font-size: 16px;
    color: white;
  }
  .follow-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 100px;
  }

  .follow p{
    margin-right: 20px;
    color: whitesmoke;
    font-size: 22px;
  
  }

  .social-icons {
    display: flex;
    align-items: center;
  }

  .social-icons a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: #007bff;
  }
  .resume-titles {
    margin: 0 100px;
    display: flex;
    gap: 430px;
    text-align: left;
    margin-top: 20px;
    color: whitesmoke;
    font-weight: bold;
  }
  .resume-titles .item{
    background-color: #273944;
    margin-bottom: 0;
    padding: 0;
    font-size: 10px;
  }
  .resume-description {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 5px 100px;
  }
  .resume-description .item {
    text-align: left;
    background-color: #111;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 3px solid #007bff;
  }
  .resume-description h1 {
    font-size: 15px;
    margin-bottom: 3px;
    color: whitesmoke;
  }
  .resume-description p {
    font-size: 15px;
    color: rgb(170, 166, 166);
  }
  .first-section{
    text-align: left;
    margin: 5px 100px;
  }

  .first-section p{
    color: rgb(170, 166, 166);
    font-size: 18px;
  }
  .first-section h1 {
    font-size: 25px;
    color: whitesmoke;
    font-weight: bold;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 5px 100px;
  }
  
  .skill-item {
    margin: 10px 0;
  }
  
  .skill-item h3 {
    font-size: 16px;
    color: white;
  }
  
  .progress {
    height: 18px;
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    width: 0;
    background-color: #0f724f;
    color: white;
    text-align: center;
    line-height: 20px;
    transition: width 0.5s ease-in-out;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 100px;
    gap: 50px;
  }

  .contact-form {
    margin-top: 2px;
    flex: 1;
    padding: 20px;
    border-radius: 5px;
}

.contact-form h2 {
  font-size: 24px;
  color: whitesmoke;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-info {
  margin-top: 2px;
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

.contact-info h2 {
  font-size: 24px;
  color: whitesmoke;
}

.contact-info p {
  font-size: 18px;
  margin: 15px 0;
  color: #0dc484;
}

.contact-info p span{
  color: white;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px;
}

.portfolio-item {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.portfolio-item:hover {
  transform: scale(1.05);
}




 
  
  